/* ./src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0) translate(
            calc((var(--random-x, 0.5) - 0.5) * 150px), 
            calc((var(--random-y, 0.5) - 0.5) * 150px)
        );
    }
}

html {
    scroll-behavior: smooth;
}

.sparkle {
    position: fixed;
    background-color: #fcd34d; /* Warna amber-300 */
    border-radius: 50%;
    pointer-events: none;
    z-index: 20;
    animation: fade-out 1s forwards;
    box-shadow: 0 0 8px #fcd34d, 0 0 12px #f59e0b;
}

.circular-loader {
    position: absolute;
    inset: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    transform: rotate(-90deg);
    opacity: 0;
    /* Transisi untuk opacity saat muncul dan menghilang */
    transition: opacity 0.5s ease-in-out;
}

.group:hover .circular-loader {
    opacity: 1;
}

.loader-track, .loader-progress {
    fill: none;
    stroke-width: 5;
}

.loader-track {
    stroke: rgba(252, 211, 77, 0.2);
}

.loader-progress {
    stroke: #fcd34d;
    stroke-linecap: round;
    stroke-dasharray: 289;
    stroke-dashoffset: 289;
    /* Transisi untuk efek 'menggambar' dan 'menghapus' garis */
    transition: stroke-dashoffset 0.8s ease-out;
}

/* Saat di-hover, cukup ubah nilai stroke-dashoffset */
.group:hover .loader-progress {
    stroke-dashoffset: 0;
}

/* --- Masonry Layout Styles --- */
.my-masonry-grid {
    display: -webkit-box; /* Old-school iOS safari syntax */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    margin-left: px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { 
    margin-bottom: 16px; 
}